<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-slate-50">
  <div class="bg-[#F0E7E9] p-4">
    <a href="#" class="block text-center font-extrabold tracking-tight transition-all duration-200 hover:text-red-600"> Become a Rails World 2024 sponsor. Download the prospectus here. </a>
  </div>

  <div class="pt-7 text-center">
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Guides </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> API </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Forum </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Contribute </a>
    <a href="" class="px-4"> 
      <div class="relative align-middle inline-block">
        <img src="https://avatars.githubusercontent.com/u/4223" class="rounded-full transition-transform duration-300 transform h-28 w-28"/>
        <img src="https://mdbootstrap.com//img/Photos/Square/1.jpg" class="rounded-full absolute top-0 left-0 opacity-0 transition-opacity duration-300 transform hover:opacity-100 h-full w-full"/>
      </div>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Foundation </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Team </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Blog </a>
    <a href="#" class="mx-1 rounded-lg px-3 py-2 text-lg font-bold transition-all duration-200 hover:bg-[#F0E7E9] hover:text-red-600"> Jobs </a>
  </div>

  <div class="pt-12">
    <p class="w-full text-center text-7xl font-extrabold text-red-600">Compress the complexity of modern web apps.</p>
  </div>

  <div class="pt-6">
    <p class="size-full px-48 text-center text-3xl font-normal">Learn just what you need to get started, then keep leveling up as you go. <span class="font-extrabold"> Ruby on Rails scales from HELLO WORLD to IPO. </span></p>
  </div>

  <div class="pt-8 text-center">
    <a href="#" class="rounded-lg bg-[#F0E7E9] p-2 text-xl font-bold transition-all duration-200 hover:bg-[#d6c8cc] hover:text-red-600"> Rails 7.1.2 - released November 10, 2023 </a>
  </div>

  <div class="mx-auto mt-20 w-5/6 rounded-2xl border-2 border-gray-300 bg-slate-200 p-72 shadow-xl"></div>

  <div class="pt-10">
    <p class="text-center text-5xl font-extrabold tracking-tighter text-red-600">You're in good company.</p>
  </div>

  <div class="pt-6">
    <p class="px-48 text-center text-3xl font-medium">Over the past two decades, Rails has taken countless companies to millions of users and billions in market valuations.</p>
  </div>

  <div class="pt-20 text-center">
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
  </div>

  <div class="pt-20 text-center">
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
  </div>

  <div class="pt-20 text-center">
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
  </div>

  <div class="pt-20 text-center">
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
  </div>

  <div class="pt-20 text-center">
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
    <a href="#" class="mx-4 rounded-md bg-[#F0E7E9] px-16 py-8 font-semibold transition-all duration-100 hover:border-2 hover:border-red-500 hover:bg-slate-50"> Nome </a>
  </div>

  <div class="pt-20 text-center">
    <p class="px-64 text-2xl"><span class="font-bold"> These are just a few of the big names. </span> There have been many hundreds of thousands of apps created with Rails since its inception.</p>
  </div>

  <div class="pt-20">
    <p class="bg-[#F0E7E9] pt-20 text-center text-5xl font-extrabold text-red-600">Building it together.</p>
  </div>

  <div class="bg-[#F0E7E9] pt-6">
    <p class="px-52 text-center text-3xl font-normal">Over six thousand people have <a href="#" class="font-extrabold underline transition-all duration-300 hover:text-red-600"> contributed code to Rails</a>, and many more have served the community through evangelism, documentation, and bug reports. Join us!</p>
  </div>

  <div class="bg-gradient-to-b from-[#F0E7E9] to-slate-50 pb-24">
    <div class="pt-6 text-center">
      <a href="#" class="text-xl font-extrabold transition-all duration-300 hover:text-red-600"> <span class="underline"> Meet the Rails team </span> > </a>
    </div>
  </div>

  <div class="mx-auto w-5/6 rounded-3xl bg-white py-14 shadow-2xl">
    <p class="text-center text-5xl font-extrabold text-red-600">Everything you need.</p>
    <p class="px-20 pt-7 text-center text-3xl font-normal"><span class="font-extrabold"> Rails is a full-stack framework.</span> It ships with all the tools needed to build amazing web apps on both the front and back end.</p>
    <p class="px-24 pt-7 text-center text-xl font-medium text-gray-700">Rendering HTML templates, updating databases, sending and receiving emails, maintaining live pages via WebSockets, enqueuing jobs for asynchronous work, storing uploads in the cloud, providing solid security protections for common attacks. Rails does it all and so much more.</p>
  </div>

  <div class="flex">
    <div class="mx-auto -mr-16 mt-20 w-5/12 rounded-lg bg-stone-500 py-28">
      <div class="mx-auto -mt-28 w-full rounded-t-lg bg-stone-600 py-2">
        <p class="text-center text-white">app/models/article.rb</p>
      </div>
      <p class="text-center text-white">codigo aqui</p>
    </div>

    <div class="mx-auto mt-20 w-5/12 rounded-lg bg-stone-500 py-28">
      <div class="mx-auto -mt-28 w-full rounded-t-lg bg-stone-600 py-2">
        <p class="text-center text-white">app/controllers/articles_controller.rb</p>
      </div>
      <p class="text-center text-white">codigo aqui</p>
    </div>
  </div>

  <div class="flex pt-7">
    <div class="mx-auto -mr-16 w-5/12 text-center">
      <p class="pb-4 text-2xl font-extrabold text-red-600">Active Records make modeling easy.</p>
      <p class="text-xl font-medium text-gray-600">Databases come to life with business logic encapsulated in rich objects. Modeling associations between tables, providing callbacks when saved, encrypting sensitive data seamlessly, and expressing SQL queries beautifully.</p>
    </div>
    <div class="mx-auto w-5/12 text-center">
      <p class="pb-4 text-2xl font-extrabold text-red-600">Action Controllers handle all requests.</p>
      <p class="text-xl font-medium text-gray-600">Controllers expose the domain model to the web, process incoming parameters, set caching headers, and render templates, responding with either HTML or JSON.</p>
    </div>
  </div>

  <div class="flex">
    <div class="mx-auto -mr-16 mt-20 w-5/12 rounded-lg bg-stone-500 py-28">
      <div class="mx-auto -mt-28 w-full rounded-t-lg bg-stone-600 py-2">
        <p class="text-center text-white">app/views/articles/show.html.erb</p>
      </div>
      <p class="text-center text-white">codigo aqui</p>
    </div>

    <div class="mx-auto mt-20 w-5/12 rounded-lg bg-stone-500 py-28">
      <div class="mx-auto -mt-28 w-full rounded-t-lg bg-stone-600 py-2">
        <p class="text-center text-white">config/routes.rb</p>
      </div>
      <p class="text-center text-white">codigo aqui</p>
    </div>
  </div>

  <div class="flex pt-7">
    <div class="mx-auto -mr-16 w-5/12 text-center">
      <p class="pb-4 text-2xl font-extrabold text-red-600">Action Views mix Ruby and HTML.</p>
      <p class="text-xl font-medium text-gray-600">Templates can use the full versatility of Ruby, excessive code is extracted into helpers, and the domain model is used directly and interwoven with the HTML.</p>
    </div>
    <div class="mx-auto w-5/12 text-center">
      <p class="pb-4 text-2xl font-extrabold text-red-600">Action Dispatch route URLs.</p>
      <p class="text-xl font-medium text-gray-600">Configure how URLs connect to the controllers using the routing domain language. Routes expose the bundle of actions that go together as a resource: index, show, new, create, edit, update, destroy.</p>
    </div>
  </div>

  <div class="mx-auto mt-24 w-5/6 rounded-3xl bg-white py-16 shadow-2xl">
    <p class="text-center text-5xl font-extrabold text-red-600">Optimized for happiness.</p>
    <p class="px-24 pt-9 text-center text-2xl font-normal">Rails has united and cultivated a strong tribe around a <span class="font-extrabold">wide set of heretical thoughts</span> about the nature of programming and programmers. Understanding these thoughts will help you understand the design of the framework.</p>
    <div class="pt-14 text-center">
      <a href="#" class="text-2xl font-extrabold transition-all duration-300 hover:text-red-600"> <span class="underline"> Read the Rails Doctrine </span> > </a>
    </div>
  </div>

  <div class="pt-14">
    <p class="text-center text-5xl font-extrabold text-red-600 tracking-tight"> Let's get started. </p>
  </div>

  <div class="pt-16 text-center flex justify-center ">
    <a href="#" class="shadow-sm relative mx-4 rounded-xl bg-white border-2 border-gray-200 px-auto py-12 w-1/4 font-semibold transition-all duration-200 hover:border-2 hover:border-red-500 "> 
     <div class="bg-red-600 h-7 w-28 absolute -top-4 right-1/2 translate-x-1/2 rounded-sm shadow-md">
        <p class="text-white"> LEARNING > </p>
     </div>
      <div>
        <p class="font-extrabold underline relative -top-5 text-xl"> Read the guides. </p>
     </div>
     <div>
       <p class="font-medium px-7"> Learn what the frameworks can do and how they fit together. </p>
     </div>
    </a>

    <a href="#" class="shadow-sm relative rounded-xl bg-white border-2 border-gray-200 px-auto py-12 w-1/4 font-semibold transition-all duration-200 hover:border-2 hover:border-red-500"> 
      <div class="bg-red-600 h-7 w-40 absolute -top-4 right-1/2 translate-x-1/2 rounded-sm shadow-md">
        <p class="text-white"> CONTRIBUTING > </p>
     </div> 
      <div>
        <p class="font-extrabold underline relative -top-5 text-xl"> Contribute on GitHub. </p>
     </div>
      <div>
       <p class="font-medium"> File bug reports and make pull-requests. </p>
     </div>
    </a>

    <a href="#" class="shadow-sm relative mx-4 rounded-xl bg-white border-2 border-gray-200 px-auto py-12 w-1/4 font-semibold transition-all duration-200 hover:border-2 hover:border-red-500 hover:py-"> 
      <div class="bg-red-600 h-7 w-32 absolute -top-4 right-1/2 translate-x-1/2 rounded-sm shadow-md">
        <p class="text-white"> KEEPING UP > </p>
     </div>
      <div>
        <p class="font-extrabold underline relative -top-5 text-xl"> See what's new. </p>
     </div>
     <div>
       <p class="font-medium"> The latest releases and updates on development. </p>
     </div>
     </a>
  </div>

  <div class="pt-14 text-center">
    <p class="font-medium text-gray-600 text-xl"> Learn more about <a href="#" class="underline text-red-600 transition-all duration-300 hover:text-black font-bold"> Hotwire</a>, the default front-end framework in rails. </p>
  </div>

  <div class="pt-6 text-center">
    <p class="text-xl text-gray-600 font-medium"> <span class="font-extrabold text-black"> Stay up to date </span> with Rails on <a href="#" class="text-red-600 underline font-bold hover:text-black transition-all duration-300"> Twitter</a> and <a href="#" class="underline text-red-600 font-bold hover:text-black transition-all duration-300"> This Week in Rails</a>.</p>
  </div>

  <div class="pt-36 text-center">
    <a href="#" class="px-4 text-gray-600 hover:text-black hover:underline"> Conduct</a>
    <a href="#" class="px-4 text-gray-600 hover:text-black hover:underline"> Maintenance</a>
    <a href="#" class="px-4 text-gray-600 hover:text-black hover:underline"> Security</a>
    <a href="#" class="px-4 text-gray-600 hover:text-black hover:underline"> Trademarks</a>
    <a href="#" class="px-4 text-gray-600 hover:text-black hover:underline"> License </a>
  </div>
</div>